.services-section-container {
  background-color: var(--secondary);
  color: var(--primary);
}

.services-section {
  display: flex;
  flex-direction: column;
  width: 91%;
  margin: 0 auto;
}

.services-section__info {
  display: flex;
  flex-direction: column;
}
.services-section__title {
  font-size: 2.3125rem;
  font-weight: 400;
  border-bottom: 4px solid;
  line-height: 4rem;
  width: fit-content;
  border-image: linear-gradient(
      90deg,
      rgba(217, 200, 170, 0.3) 0%,
      #d9c8aa 49%,
      rgba(217, 200, 170, 0.3) 99.5%
    )
    1;
  margin-top: 40px;
  margin-bottom: 30px;
}

.services-section__description {
  font-size: 1.1rem;
  font-weight: 500;
  /* max-width: 60ch; */
  text-wrap: balance;
  white-space: break-spaces;
}

.services-section__description--additional {
  margin-top: 10px;
}

.services-section__additional-info {
  margin-top: 18px;
  font-weight: bold;
  font-size: 1.1rem;
}

.services-section__cards-container {
  margin: 2.5rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
/* 
.card-services__ul:first-child .card-services__description:last-child {
  border-bottom: none;
} */

@media (min-width: 720px) {
  .services-section-container {
    padding: 2rem 0;
  }

  .services-section {
    width: 80%;
  }

  .services-section__title {
    font-size: 3.688rem;
  }

  .services-section__description {
    font-size: 1.1rem;
    width: 90%;
  }

  .services-section__additional-info {
    font-size: 1.1rem;
  }
}
