.blog {
  background-color: var(--secondary);
  color: var(--primary);
  padding: 3rem 0;
  min-height: 100vh;
}

.blog-content {
  width: 91%;
  margin: 0 auto;
}

.blog__header {
  display: flex;
  align-items: center;
}

.blog__logo {
  width: 40px;
  height: 40px;
}

.blog__feed {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  gap: 2rem;
}

.instagram-container {
  max-height: 700px;
}

.ig-container {
  height: 426px !important;
  border-radius: 10px !important;
}

/* 
.blog__iframe-container {
  max-width: 540px;
  margin: 0 auto;
}

.blog__iframe {
  width: 100%;
  height: 600px;
  max-width: 540px;
  min-width: 326px;
  border: 0;
  border-radius: 3px;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5), 0 1px 10px 0 rgba(0, 0, 0, 0.15);
  margin: 1px;
  box-sizing: border-box;
} */
