.hero-section-container {
  /* background-image: linear-gradient(
      90deg,
      rgba(0 0 0 / 48%) 26.99%,
      rgb(0 0 0 / 48%) 26.99%,
      rgb(0 0 0 / 48%) 26.99%
    ),
    url(/hero_background.webp); */
  min-height: 100vh;
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: 78% 50%;
  /* background-attachment: fixed; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-section {
  width: 91%;
  display: flex;
  flex-direction: column;
  padding: 2rem 0.1rem;
  align-items: flex-start;
  margin: 0 auto;
  animation: bounce-in-top 1.1s both;
}

.hero-section svg {
  align-self: center;
  width: 120px;
  fill: var(--tertiary);
  height: 120px;
}

.hero-section__title {
  color: var(--quinary);
  font-size: 3.2rem;
  margin-top: 40px;
}

.hero-section__subtitle {
  color: var(--senary);
  font-size: 1.2rem;
  margin-top: 25px;
  max-width: 25ch;
  height: 3.5rem;
  transition: max-height 0.3s ease;
}

.hero-section__button {
  padding: 0.8rem 1rem;
  margin-top: 22px;
  font-size: 1rem;
}

@media (min-width: 720px) {
  .hero-section {
    width: 80%;
    padding: 2rem 0;
  }

  .hero-section__title {
    font-size: 3.688rem;
    max-width: 12ch;
  }

  .hero-section__subtitle {
    font-size: 1.263rem;
    max-width: 34ch;
  }

  .hero-section__button {
    font-size: 1.263rem;
  }

  .hero-section svg {
    align-self: auto;
    margin-left: 16px;
  }
}

@media (min-width: 1000px) {
  .hero-section-container {
    /* background-image: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.83) 26.99%,
        rgba(0, 0, 0, 0.31) 73.02%,
        rgba(0, 0, 0, 0.12) 83.72%
      ),
      url(/hero_background.webp); */
    align-items: flex-start;
    background-position: 25% 0%;
  }
}
