.contact-container {
  background-color: var(--secondary);
  flex-direction: column;
  display: flex;
  justify-content: center;
  padding: 3.2rem 0 4rem;
  color: var(--primary);
  font-family: "Roboto Serif";
}

.contact {
  border: 2px solid var(--tertiary);
  border-radius: 10px;
  height: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 10px 15px 11px rgba(0, 0, 0, 0.1);
}

.contact__title {
  font-size: 3rem;
  color: #2c2e35;
  font-weight: 400;
  margin-bottom: 30px;
  border-bottom: 4px solid;
  line-height: 4rem;
  width: fit-content;
  border-image: linear-gradient(
      90deg,
      rgba(217, 200, 170, 0.3) 0%,
      #d9c8aa 49%,
      rgba(217, 200, 170, 0.3) 99.5%
    )
    1;
}

.contact__form-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 1.5rem 0 1.5rem;
}

.contact__form {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  padding: 2.3rem 0;
  gap: 1rem;
}

.contact__label {
  font-size: 1rem;
  font-weight: bold;
}

.contact__input {
  padding: 1rem;
  border: 1px solid var(--tertiary);
  border-radius: 10px;
  background-color: transparent;
}

.contact__button {
  padding: 1rem 2.3rem;
  width: fit-content;
}

.contact__textarea {
  padding: 0.7rem;
  border: 1px solid var(--tertiary);
  border-radius: 10px;
  background-color: transparent;
  height: 165px;
  resize: vertical;
}

.contact__aside {
  font-size: 1.688rem;
  display: flex;
  gap: 4rem;
  padding-bottom: 1.5rem;
}

.contact__aside-icon-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
}

.contact__social-icons-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border: 3px solid var(--septenary);
  border-radius: 50%;
}

.contact__info-name {
  font-size: 0.9rem;
  color: var(--secondary);
}

.contact__info {
  max-width: 23ch;
  font-size: 0.9rem;
}

.contact__aside svg {
  width: 20px;
  height: 20px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

.contact__input:focus {
  outline: none;
}

textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

.contact__textarea:focus {
  outline: none;
}

.contact__margin {
  width: 80%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}

.contact__information {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 50%;
}

.contacts {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.email-logo,
.instagram-logo,
.linkedin-logo,
.phone-icon,
.location-logo,
.location-svg {
  width: 29px;
  height: 29px;
  position: relative;
  stroke: #d9c8aa;
  position: relative;
  margin: 0 auto;
}

.contact__information-paragraph {
  font-size: 1.1rem;
  max-width: 50ch;
}

.contact__information-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
}

.contact__information-list::before {
  content: "";
  height: 100%;
  width: 3px;
  top: 50%;
  left: 20px;
  transform: translate(-50%, -50%);
  display: block;
  position: absolute;
  background-color: #2c2e35;
}

.contact__information-item {
  display: flex;
  gap: 2rem;
  position: relative;
}

.contact__information-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border: 2px solid var(--primary);
  border-radius: 50%;
  background-color: var(--primary);
  transition: transform 0.5s;
}

.contact__information-icon:hover {
  transform: scale(1.2);
}

.contact__information-details {
  display: flex;
  gap: 0.2rem;
  align-items: center;
}

.success-message {
  position: absolute;
  visibility: hidden;
  padding: 2rem 1rem;
  width: 356px;
  text-align: center;
  background-color: #8b7659;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  box-shadow: 0px 0px 14px 9px #8b7659;
  color: white;
  font-size: 1.4rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  transition: 1.5s;
}

.success-message-show {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 437px) {
  .contact__title {
    width: 244px;
  }
}

.success-message {
  width: 80%;
}

@media (max-width: 720px) {
  .contacts {
    flex-direction: column;
  }

  .contact__margin {
    width: 91%;
  }

  .contact {
    width: 100%;
  }

  .contact__information {
    align-self: flex-start;
    width: auto;
  }

  .contact__information-paragraph {
    max-width: 100%;
  }

  .contact__title {
    font-size: 2.3125rem;
  }
}
