.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  font-family: "Roboto Serif";
}

.logo-animation {
  position: relative;
}

.letter-g,
.letter-k {
  position: absolute;
  font-size: 300px;
  color: var(--quaternary);
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  top: 50%;
  transform: translateY(-50%);
}

.letter-g {
  left: 0; 
  animation-name: slideFromLeft;
}

.letter-k {
  right: 0; 
  animation-name: slideFromRight;
}

@keyframes slideFromLeft {
  0% {
    left: -100px; 
  }
  100% {
    left: calc(50% - 200px - 30px); /
  }
}

@keyframes slideFromRight {
  0% {
    right: -100px; 
  }
  100% {
    right: calc(50% - 200px - 30px); 
  }
}

@media (max-width: 480px) {
  .letter-g,
  .letter-k {
    font-size: 8rem;
  }

  @keyframes slideFromRight {
    0% {
      right: -100px; 
    }
    100% {
      right: calc(50% - 100px - 10px); 
    }
  }

  @keyframes slideFromLeft {
    0% {
      left: -100px; 
    }
    100% {
      left: calc(50% - 100px - 10px); 
    }
  }
}
