.about-history {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  width: 91%;
  margin: 0 auto;
  padding: 4rem 0;
}

.about-history-container {
  background-color: var(--primary);
}

.line-separator-top {
  border-top: 2px solid var(--septenary);
  position: fixed;
  width: 100%;
  z-index: 100000000;
}

.about-work {
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.83) 26.99%,
      rgba(0, 0, 0, 0.31) 73.02%,
      rgba(0, 0, 0, 0.12) 83.72%
    ),
    url(/about_work.webp);
  height: 400px;
  background-size: cover;
  background-position: 85%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: var(--quinary);
}

.about-work-content {
  display: flex;
  flex-direction: column;
  width: 75%;
  padding: 0 1rem;
  margin: 0 auto;
}

.about-work__title {
  font-size: 3.2rem;
}

.about-work__contact {
  padding: 0.8rem 1rem;
  font-size: 1rem;
  width: fit-content;
  margin-top: 22px;
}

@media (min-width: 720px) {
  .about-work {
    height: 550px;
  }

  .about-work__title {
    font-size: 3.688rem;
    max-width: 12ch;
  }

  .about-work__contact {
    font-size: 1.263rem;
  }
}

@media (min-width: 1000px) {
  .about-history {
    width: 80%;
    max-width: 1300px;
  }
}
