@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@font-face {
  font-family: "ParisineRegular";
  src: url("./assets/fonts/ParisineRegular.otf");
}
@font-face {
  font-family: "DinNextRegular";
  src: url("./assets/fonts/DINNextLTPro-Regular.otf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: currentColor;
}

li {
  list-style: none;
}

strong {
  color: var(--tertiary);
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
}

h1 {
  font-family: "Roboto Serif";
  font-weight: 500;
}

h2 {
  font-family: "DinNextRegular";
  font-weight: 500;
}

p {
  font-family: "DinNextRegular";
  font-weight: 400;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: var(--tertiary);
  color: var(--quinary);
  border-radius: 6px;
  font-family: "Roboto Serif";
}

:root {
  --primary: #2c2e35;
  --secondary: rgba(217, 200, 170, 0.55);
  --tertiary: #8b7659;
  --quaternary: #d9c8aa;
  --quinary: #ffffff;
  --senary: rgba(255, 255, 255, 0.72);
  --septenary: #beac94;
}
